._1RJJd37pBcW0IMLiv0UdOv {
    cursor: pointer;
    position: relative;
    user-select: none;
    display: inline-block;
}

._1RJJd37pBcW0IMLiv0UdOv._1WZKTeGFp7-v6k5UlR4zhu {
    display: block;
}

._1RJJd37pBcW0IMLiv0UdOv._2_XGCLMz_xjiP-LyENkDu- .WY1T9AXvE2avNgLdV3roN {
    display: block;
}

._1RJJd37pBcW0IMLiv0UdOv._2FolOHBdbWllFpDGu5pUt2 .WY1T9AXvE2avNgLdV3roN {
    display: none;
}

._1RJJd37pBcW0IMLiv0UdOv .WY1T9AXvE2avNgLdV3roN {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    text-align: left;
    z-index: 16;
}

._1RJJd37pBcW0IMLiv0UdOv ._2Wi6OC9J_Tw-CKyCVzqxKB {
    z-index: 1;
}

._1RJJd37pBcW0IMLiv0UdOv ._2Wi6OC9J_Tw-CKyCVzqxKB._1dmG3o1yx9wI2FnToxFENu {
    position: relative;
}

._1RJJd37pBcW0IMLiv0UdOv ._2Wi6OC9J_Tw-CKyCVzqxKB._1dmG3o1yx9wI2FnToxFENu:after {
    border-bottom: 2px solid inherit;
    border-right: 2px solid inherit;
    content: '';
    display: block;
    height: 6px;
    margin-top: -6px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: rotate(45deg);
    width: 6px;
}

._1RJJd37pBcW0IMLiv0UdOv ._3dt9X-3VaQzFohCIma_02J {
    background: white;
    border-radius: inherit;
    margin: -8px;
    max-height: 30vh;
    min-width: 170px;
    max-width: calc(100vw - 64px);
    padding: 8px;
    position: relative;
    z-index: 16;
}

._2AQ5xiIF--N4xpMro6YJg8 .WY1T9AXvE2avNgLdV3roN:before {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    background: white;
    content: '';
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    width: 16px;
}

.Gw9YvkPZHysmirxM7aelI._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN {
    margin-bottom: 13px;
}

.Gw9YvkPZHysmirxM7aelI._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    border-right-width: 1px;
    border-bottom-width: 1px;
    bottom: -9px;
    left: calc(50% - 8px);
}

.Vf9qkUbmHIB_al38JQxz._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN {
    margin-left: 13px;
}

.Vf9qkUbmHIB_al38JQxz._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    border-left-width: 1px;
    border-bottom-width: 1px;
    top: calc(50% - 8px);
    left: -9px;
}

._3v_Fzm4vzyLB1dkSkgftue._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN {
    margin-top: 13px;
}

._3v_Fzm4vzyLB1dkSkgftue._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    border-left-width: 1px;
    border-top-width: 1px;
    top: -9px;
    left: calc(50% - 8px);
}

._14_2N7sJyli2TWKUvs_D_k._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN {
    margin-right: 13px;
}

._14_2N7sJyli2TWKUvs_D_k._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    border-right-width: 1px;
    border-top-width: 1px;
    top: calc(50% - 8px);
    right: -9px;
    left: auto;
}

._1OrMCNQNIttWrDKrSiKedQ._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    left: 10%;
}
.eXfmizU-r6Q7RAGq7bAtZ._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    left: auto;
    right: 10%;
}

.IhwHRSo0Svu9t62PAO_xI._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    top: auto;
    bottom: calc(15% + 8px);
}
._3vwnnsLenVKHqjbwrzBWGj._2AQ5xiIF--N4xpMro6YJg8 > .WY1T9AXvE2avNgLdV3roN:before {
    top: calc(15% + 8px);
    bottom: auto;
}
