body {
    font-family: Arial, Helvetica, Sans-Serif;
    line-height: 1.5;
}

input {
    vertical-align: middle;
}

:global(.ReactMinimalDropdown) {
    /*outline: 1px solid red;*/
    display: inline-block;
}

:global(.ReactMinimalDropdown__Trigger) {
    background: #eee;
    outline: 1px solid #777;
    display: inline-block;
    position: relative;
    padding: 8px;
    margin: 24px;
    /*margin-top: -57px;*/
}

:global(.ReactMinimalDropdown__Trigger:hover) {
    background: #ddd;
    outline: 1px solid #777;
    position: relative;
    padding: 8px;
    margin: 24px;
    /*margin-top: -57px;*/
}

:global(.ReactMinimalDropdown__Content) {

}

.wrapper {
    width: 640px;
    max-width: 100%;
    margin: auto;
}
