html, body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    /*padding-bottom: 16px;*/
    padding-top: 40px;
}

header > * {
    position: relative;
}

input {
    vertical-align: middle;
}

:global(.ReactMinimalDropdown) {
    outline: 1px solid red;
    display: inline-block;
}

:global(.ReactMinimalDropdown__Trigger) {
    background: #eee;
    outline: 1px solid #777;
    display: inline-block;
    position: relative;
    padding: 8px;
    margin: 24px;
    /*margin-top: -57px;*/
    outline: 1px solid blue;
}

:global(.ReactMinimalDropdown__Trigger:hover) {
    background: #ddd;
    outline: 1px solid #777;
    position: relative;
    padding: 8px;
    margin: 24px;
    /*margin-top: -57px;*/
}

:global(.ReactMinimalDropdown__Content) {

}

.wrapper {
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
    margin-top: 64px;
    padding: 0 12px;
    width: 640px;
}
